h1{
	color:#3b6978;
	font-family: helvetica;
	font-weight: bold;
}

h1,h2{
	text-align: center;
}

h2,h3 {
	color:#84a9ac;
	font-family: helvetica;
}

body{
	background-color: #e7dfd5
}

body, p{
	color:rgb(30,30,30);
	font-family: helvetica
}

a {
	text-decoration: none;
	color:#84a9ac;
	font-family: helvetica;
}

.section-cream{
	background-color: #faeee7;
	padding:50px;
	margin:30px;
	border-radius: 10px;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

img{
	border-image: 20px
	text-align: center;
}